body {
  margin: 0;
  font-family: "Segoe UI Light",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: dimgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header{
  font-family: "cursive";
  color:#0B3861;
}
img {
  border-radius: 8px;
  display:block;
  width:100%;
  height:auto;
  margin-button:1.5rem;
}

